// Specific CSS for your home-page
.space {
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004777;
  color: white;
  font-family: Helvetica;
}

body {
  background: #004777;
}
